@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 60px); /* Footer stays visible */
}

main > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
}

iframe {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  border: none;
  overflow-y: auto; /* Enables scrolling inside iframe */
}
